* {
    box-sizing: border-box;
  }

  body { 
      background: #000000;
      margin: 0 auto !important;
      float: none !important;
      max-width: 1250px;
  }

  h1 { 
      color: white; 
      font-weight: bold; 
      font-size: 100px; 

  }
  h2 { 
      color: white; 
      font-size: 70px; 
  }

  h3 { 
      color: aliceblue; 
  }
    p { 
       color: white; 
       font-size: 18px; 
       font-weight: lighter; 
   }
   a { 
    color: white; 
    font-size: 18px; 
    font-weight: bolder; 
    text-decoration: none;  
   }
   .bar-item { 
    color: white; 
    font-weight: bold; 
    font-size: 15px; 
    padding: 18px; 
   }

   html {
    font-family: 'Roboto', sans-serif;
  }
  
  .header {
    background-size: cover; 
    position: relative; 
    margin: 25px 50px 25px 50px;/* top 25, right 50, bottom 75, left 100 */
  }
  .gab_image { 
      max-width: 100%;
      height: auto; 
      background-size: cover; 
  }
  
  #gab_hello { 
    position: absolute;
    bottom: 15%; 
    left: 1%;
    /* transform: translate(-50%, -50%); */
  } 

  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{ 
    margin: 25px 50px 25px 50px;
  }


  
  [class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid grey; */
  }
  
  .col-1 {width: 8%; border: 1px solid red;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;border: 1px solid red;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 100%;}
  .headline h2, .headline #inline { 
    display: inline;
    vertical-align: middle;
  }
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}